[run]
source = pages, tests
omit =
    tests/test_exploratory.py
    */__init__.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    logger.error
    logger.warning
    logger.info
    logger.debug
    except Exception
    except:
    try:
    finally:

[html]
directory = coverage_html_report